{% extends "base.html" %}
{% block content %}
<!-- Your code here -->
<div class="container">
    <br><br>
    <img class="mb-4" src="static/images/coderschool-logo.png" alt="">
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div id="my-camera"></div>
            <br>
            <form id="form-capture-image">
                <a href="#" class="btn btn-lg btn-primary btn-capture-image">Predict Now</a>
            </form>
        </div>
        <div class="col-md-6">
            <div id="results">
                <div id="loading" class="hidden spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <h3 id='class-result'>Predictions:</h3>
                
                <!-- <div id="results-prediction">
                    <p id="prediction"></p>
                    <p id="probs"></p>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}